.main {
  display: flex;
  padding: 40px;
  background-color: #f0f2f5;
}

.left,
.right {
  flex: 1
}

.right {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  > * {
    margin-bottom: 20px;
  }
}

.content {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  white-space: pre;
  height: 200px;
  overflow-y: scroll;
}
