.main {
  width: 100%;
  padding: 20px 20px 0;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: visible;
  transition: 0.2s;
  font-size: 14px;
  line-height: 22px;
  &:hover {
    box-shadow: 0px 5px	12px	4px rgba(0, 0, 0, 0.09);
  }
  > * {
    padding-bottom: 20px;
  }
}

.header {
  color: #606266;
}

.questions {
  cursor: pointer;
}

.options {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  > div {
    min-width: 20%;
    margin: 4px 20px 4px 0;
  }
}

.answer {
  padding: 20px 0;
  width: 100%;
  border-top: 1px solid #eee;
  &Label {
    font-weight: 500;
  }
}
