.search {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #606266;
}
